<?xml version="1.0"?>
<launch>

  <arg name="width" default="360" />
  <arg name="height" default="280" />
  <arg name="fps" default="950" />
  <arg name="cam_id" default="30120113-aravis" />

  <node pkg="dmk_high_speed_cam_ros" type="tis_rosstarter" name="tiscam_node" output="screen" args="--width $(arg width) --height $(arg height) --fps $(arg fps)" />

</launch>
